<div class="row-body{$content_class}">
	<div class="nine columns" id="messages">
		<div class="page-container">
		<div class="page-content">
		<div class="page-header">{$header}</div>
			<div class="page-inner">
				<div class="row">
					<p>Contact the main-developer at <strong>info@cyno.co</strong></p>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="three columns">
		{$sidebar}
	</div>
</div>