<div class="row-body{$content_class}">
	<div class="nine columns" id="messages">
		<div class="page-container">
		<div class="page-content">
		<div class="page-header">{$header}</div>
			<div class="page-inner">
				<div class="row">
					<strong>Cyno - the social networking service</strong>
        
        Cyno is an upcoming social network that's now in beta phase (currently v1.4.0).<br></br>
        
        <hr>
        
    
        <h2><span style="color: gold;">Golden</span> Rules</h2>
        
        <div style="display:inline-block;">
            <ul>
                <li><h4>WE HAVE TO be transparent</h4></li>
                <li><h4>WE HAVE TO protect data of users</h4></li>
                <li><h4>WE HAVE TO ensure the quality of the service</h4></li>
                <li><h4>WE HAVE TO care about and listen to the users of the service</h4></li>
            </ul>
        </div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="three columns">
		{$sidebar}
	</div>
</div>