<div class="row-body{$content_class}">
	<div class="nine columns" id="messages">
		<div class="page-container">
		<div class="page-content">
		<div class="page-header">{$header}</div>
			<div class="page-inner">
				<div class="row">
					<strong>Disclaimer</strong>
					<hr>
        
		<strong>Disclaimer - Exclusions and Limitations</strong> 
The information on this web site is provided on an "as is" basis. To the fullest extent permitted by law, Cyno: excludes all representations and warranties relating to this website and its contents or which is or may be provided by any affiliates or any other third party, including in relation to any inaccuracies or omissions in this website and/or Cyno’s literature; and 
excludes all liability for damages arising out of or in connection with your use of this website. This includes, without limitation, direct loss, loss of business or profits (whether or not the loss of such profits was foreseeable, arose in the normal course of things or you have advised Cyno of the possibility of such potential loss), damage caused to your computer, computer software, systems and programs and the data thereon or any other direct or indirect, consequential and incidental damages. 
Cyno does not however exclude liability for death or personal injury caused by its negligence. The above exclusions and limitations apply only to the extent permitted by law. None of your statutory rights as a consumer are affected.<br><br>

        <hr>

<strong>Availability</strong> 
Unless otherwise stated, the services featured on this website are only available within the United Kingdom, or in relation to postings from the United Kingdom. All advertising is intended solely for the United Kingdom market. You are solely responsible for evaluating the fitness for a particular purpose of any downloads, programs and text available through this site. Redistribution or republication of any part of this site or its content is prohibited, including such by framing or other similar or any other means, without the express written consent of Cyno. Cyno does not warrant that the service from this site will be uninterrupted, timely or error free, although it is provided to the best ability. By using this service you thereby indemnify Cyno, its employees, agents and affiliates against any loss or damage, in whatever manner, howsoever caused.<br><br><br><hr>
        
<b><small>&copy; Cyno 2015-2016 All Rights Reserved</small></b>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="three columns">
		{$sidebar}
	</div>
</div>