<div class="row-body{$content_class}">
	<div class="nine columns" id="messages">
		<div class="page-container">
		<div class="page-content">
		<div class="page-header">{$header}</div>
			<div class="page-inner">
				<div class="row">
					<strong>Privacy Policy</strong>
                    
                    <hr>
        
<strong>Privacy Statement</strong>
We are committed to protecting your privacy. Authorized employees within Cyno on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers. Parliament has created specific offences for unauthorised actions against computer systems and data. We will investigate any such actions with a view to prosecuting and/or taking civil proceedings to recover damages against those responsible<br><br>

        <hr>

<strong>Confidentiality</strong>
We are registered under the Data Protection Act 1998 and as such, any information concerning the Client and their respective Client Records may be passed to third parties. However, Client records are regarded as confidential and therefore will not be divulged to any third party, other than if legally required to do so to the appropriate authorities. Clients have the right to request sight of, and copies of any and all Client Records we keep, on the proviso that we are given reasonable notice of such a request. Clients are requested to retain copies of any literature issued in relation to the provision of our services. Where appropriate, we shall issue Client’s with appropriate written information, handouts or copies of records as part of an agreed contract, for the benefit of both parties.<br>

We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by Cyno will only be in connection with the provision of agreed services and products.<br><br><br><hr>
        
<b><small>&copy; Cyno 2015-2016 All Rights Reserved</small></b>
					
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="three columns">
		{$sidebar}
	</div>
</div>